
/*********************************************************************************\
 *   Global                                                                      *
\*********************************************************************************/


::-webkit-scrollbar {
    display: none;
}

:focus {
    outline: none;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'PT Sans', sans-serif;
    background-size: cover;
    background: #fff;
    font-size: 15px;
    height: 100vh;
    display: flex;
}

a {
    text-decoration: none;
    color: #000;
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    option {
        background-color: #c8d6e5;
    }

}


/*********************************************************************************\
 *   Container                                                                   *
\*********************************************************************************/



.amsb-home-container {
    width: 400px;
    height: 400px;
    margin: 150px auto 0;
    background-color: bisque;
    box-shadow: 0 -2px 20px 0 #000;
    border-radius: 10px;
    padding: 20px 30px;
}

.amsb-container-right {
    width: 100%;
    padding: 25px;
    overflow-y: scroll;
}

.amsb-container-right-item {
    width: 400px;
    margin: 50px auto 0;
}


/*********************************************************************************\
 *   Home                                                                        *
\*********************************************************************************/


.amsb-home-header {
    width: 100%;
}

.amsb-home-header-title {
    font-size: 18px;
    color: darkred;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    cursor: default;
}

.amsb-home-header-subtitle {
    font-size: 18px;
    color: darkred;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    cursor: default;
}


.amsb-home {

}

.amsb-home-sign-item {
    padding: 8px 10px;
    box-shadow: 2px 3px 20px -2px #000;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #fff;
}

.amsb-home-sign-item-title {
    padding: 10px;
    cursor: default;
}

.amsb-home-sign-item-h2 {
    color: #000;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}

.amsb-home-sign-item-subtitle {
    color: #005;
    font-size: 13px;
    text-align: center;
    font-style: italic;
}

.amsb-item-input {
    width: 100%;
    height: 30px;
    border: 0;
}

.amsb-item-input:focus {
    outline: none;
    border-bottom: 1px solid #fff;
}

.amsb-button {
    display: inline-block;
    width: 100%;
    padding: 10px 40px;
    margin-top: 30px;
}

.amsb-button-confirm {
    border-color: transparent;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding: 0 20px;
    margin-bottom: 10px;
    line-height: 40px;
    height: 40px;
    width: 100%;
    min-width: 170px;
    color: #FFF;
    cursor: pointer;
    background-color: #F12023;
    box-shadow: 4px 4px 20px -4px #000;
    -webkit-transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
}

.amsb-button-confirm:hover {
    background-color: #f120238a;
}


/*********************************************************************************\
 *   NavBar                                                                      *
\*********************************************************************************/


.amsb-navBar {
    min-width: 200px;
    height: 100%;
    background-color: #F12023;
}

.amsb-navBar-header {
    padding: 15px;
    border-bottom: 1px solid;
}

.amsb-navBar ul li h3 {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding-left: 20px;
}

.amsb-navBar ul li ul li {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding-left: 50px;
}

.amsb-navBar-img {
    height: 60px;
    width: 60px;
}

.amsb-navBar-header-logoTitle {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.amsb-navBar-header-logoTitle h2 {
    line-height: 50px;
    font-size: 26px;
}

.amsb-navBar-header h3 {
    font-size: 12px;
}


/*********************************************************************************\
 *   Form                                                                        *
\*********************************************************************************/


.amsb-form {
    height: 60px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 15px;
}

.amsb-form-item {
    width: 100%;
    line-height: 50px;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px 15px;
}

.amsb-form-item-title {
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}


/*********************************************************************************\
 *   Display                                                                        *
\*********************************************************************************/


.amsb-display {

}

.amsb-display-item {
    height: 40px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amsb-display-item-text {
    width: 80%;
    line-height: 40px;
    padding: 0px 20px;
}

.amsb-display-item-radio {
    width: 40px;
    padding: 0px 11px;
}

.amsb-display-item-radio-item {
    width: 40px;
    height: 40px;
    margin: 0;
    cursor: pointer;
}

/*********************************************************************************\
 *   Media screen                                                                *
\*********************************************************************************/
