
/*********************************************************************************\
 *   Global                                                                      *
\*********************************************************************************/


::-webkit-scrollbar {
    display: none;
}

:focus {
    outline: none;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'PT Sans', sans-serif;
    background-size: cover;
    background-color: #fff;
    font-size: 15px;
    height: 100vh;
    display: flex;
}

a {
    text-decoration: none;
    color: #000;
}

label {
    cursor: pointer;
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    option {
        background-color: #c8d6e5;
    }

}

.margin-auto {
    margin: 0 auto;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    height: 40px;
    color: #757575;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border: 1px solid #ddd;
}

.fileContainer:hover {
    background-color: #dddddd94;
}

.fileContainer input[type=file]:focus {
    background-color: #292424d9;
    color: #fff;}

.fileContainer::after {
    display: none;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    background-color: #292424d9;
    color: #fff;
}


.amsb-error-text {
    margin: 20px 30px 30px;
    font-size: 25px;
    text-align: center;
}


/*********************************************************************************\
 *   Logo                                                                        *
\*********************************************************************************/


.amsb-home-logo {
    width: 80%;
    margin: 0 auto 30px;
    display: block;
}

.amsb-navBar-header-logoTitle {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    border-bottom: 1px solid #000;
}

.amsb-navBar-header-logoTitle h2 {
    line-height: 80px;
    font-size: 26px;
    color: #FFF;
}


/*********************************************************************************\
 *   Container                                                                   *
\*********************************************************************************/


.amsb-home-container {
    width: 320px;
    margin: 0 auto;
    padding: 8% 0 0;
}

.amsb-container-right {
    width: calc(100% - 200px);
    padding: 25px 30px;
    background-color: #f0f0f094;
    border: 1px solid;
    border-left: none;
}

.amsb-container-right-item {
    /* margin: 0 auto; */
    /* max-width: 1100px; */
}


/*********************************************************************************\
 *   Home                                                                        *
\*********************************************************************************/


.amsb-home-header {
    width: 100%;
    margin-top: 20px;
}

.amsb-home-header-title {
    font-size: 18px;
    color: darkred;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    cursor: default;
}

.amsb-home-header-subtitle {
    font-size: 18px;
    color: darkred;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    cursor: default;
}

.amsb-home {
    margin-top: 20px;
    margin-left: 0;
    padding: 30px 25px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

#home label {
    margin-bottom: 10px;
}

.amsb-home form {
    display: flex;
    flex-direction: column;
}

.amsb-home-sign-item {
    padding: 8px 10px;
    box-shadow: 2px 3px 20px -2px #000;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #fff;
}

.amsb-home-sign-item-title {
    padding: 10px;
    cursor: default;
}

.amsb-home-sign-item-h2 {
    color: #000;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}

.amsb-home-sign-item-subtitle {
    color: #005;
    font-size: 13px;
    text-align: center;
    font-style: italic;
}

.amsb-item-input {
    font-size: 24px;
    width: 100%;
    height: 40px;
    padding: 3px 6px;
    border: 1px solid #ddd;
    color: #32373c;
    border-radius: 5px;
}

.amsb-item-input:focus {
    border-color: #5b9dd9;
    box-shadow: 0 0 2px rgba(30,140,190,.8);
}

.amsb-a-button {
    margin: 0 auto;
    width: 80px;
    display: block;
}

.amsb-button,
.amsb-button-log {
    margin: 20px auto 0;
    border: 1px solid #D5211D;
    border-radius: 3px;
    font-family: "Roboto";
    font-size: 20px;
    width: 90px;
    display: block;
    padding: 5px 15px;
    color: #FFF;
    cursor: pointer;
    background-color: #f73f3f;
    text-shadow: 0 -1px 1px #D52114, 1px 0 1px #D52114, 0 1px 1px #D52114, -1px 0 1px #D52114;
    box-shadow: 0 1px 0 #D52114;
}

.amsb-button:hover,
.amsb-button-log:hover {
    background-color: #f73f3fcc;
}

.amsb-button:active,
.amsb-button-log:active {
    background-color: #d25959;
    border-color: #D5211D;
    box-shadow: inset 0 2px 0 #D5211D;

    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}


/*********************************************************************************\
 *   NavBar                                                                      *
\*********************************************************************************/


.amsb-navBar {
    width: 200px;
    height: 100%;
    border: 1px solid;
    background-color: #F12023;
}

.amsb-navBar-header {
    background-color: #F12023;
    border-bottom: 0;
    border-bottom: 1px solid #000;
}

.amsb-navBar-main {
    background-color: #000;
    height: calc(100% - 172px);
    border-top: 0;
    overflow-y: scroll;
}

.amsb-navBar-main-litle {

}

.amsb-navBar-header-a {
    font-size: 26px;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    background-color: #fff;
    color: #000;
    display: block;
}

.amsb-navBar-header-a:hover {
    color: #F12023;
}

.amsb-navBar-header-a:active {
    background-color: #d25959;
}

.amsb-navBar div h3 {
    font-size: 20px;
    padding: 15px;
    background-color: #F12023;
    color: #fff;
    text-transform: uppercase;
}

.amsb-navBar div ul li {
    background: #000;
    color: #fff;
}

.amsb-navBar div ul li button,
.amsb-navBar div ul li a {
    width: 100%;
    font-size: 15px;
    padding: 15px;
    margin: 0;
    cursor: pointer;
    text-align: left;
    background-color: #000;
    color: #fff;
    border: 0;
    display: block;
}

.amsb-navBar div ul li button:hover,
.amsb-navBar div ul li a:hover {
    color: #F12023;
}

.amsb-navBar-img {
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.amsb-navBar-img:hover {
    transform: scale(1.05);
}

.amsb-navBar-header h3 {
    font-size: 12px;
}


/*********************************************************************************\
 *   Form                                                                        *
\*********************************************************************************/


#form_delete_button #button {

}

#form_delete_button #button:hover {
    background-color: #dddddd94;
    cursor: pointer;
}

#form_list_team li {
    width: 100%;
}

#create_team_form, #edit_team_form {
    overflow-y: scroll;
    height: calc(100vh - 0px);
}

.amsb-form-user_sub_form ul {
    overflow-y: scroll;
    max-height: calc(100vh - 200px);
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    padding: 30px 50px;
}

.amsb-form-coach ul,.amsb-form-joueur ul {
    width: 100% !important;
    max-height: calc(100vh - 500px) !important;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}

.amsb-form-user_edit ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1000px !important;
    width: 100% !important;
}

.amsb-form-user_edit {
    max-width: 1000px !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.amsb-form-user_sub_form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.amsb-form {
    width: 500px;
    margin: auto;
}

.amsb-form-coach {
    width: 100%;
    margin: 20px 0;
}

.amsb-form-joueur {
    width: 100%;
}

.amsb-form-coach-joueur {
    display: flex;
    flex-direction: column;
}

.amsb-form span {
    padding-left: 5px;
    margin: 10px 0 5px;
    display: block;
    font-size: 14px;
    line-height: 16px;
}

.amsb-form input[type="button"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

.amsb-form label {
    position: relative;
    display: block;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.amsb-form label:hover {
    background-color: #dddddd94;
}

.amsb-form label select,.amsb-form label input[type="file"] {
    font-size: 24px;
    width: 100%;
    border: 1px solid #ddd;
    color: #32373c;
    height: 40px;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0 20px 0 15px;
    background: #fff;
}

.amsb-form label select:hover {
    background-color: #dddddd94;
}

.amsb-form label select option {
    background-color: #fff;
    width: 50%;
    height: 34px;
    float: left;
    text-align: center;
    padding: 3px;
}

.amsb-form-item {
    width: 100%;
    line-height: 38px;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px 15px;
}

.amsb-form-item-title {
    line-height: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
}

.amsb-form-item-title-h3 {
    font-size: 18px;
    margin-bottom: 30px;
}



/*********************************************************************************\
 *   Display                                                                        *
\*********************************************************************************/

#user_edit .amsb-display {
    height: 650px;
}

.amsb-display {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    padding: 25px 25px;
    position: relative;
    height: 600px;
}

.amsb-display-scroll {
    overflow: scroll;
    height: calc(100vh - 350px);
}

.amsb-display-searchBar {
    width: calc(100% - 330px);
    -webkit-appearance: none;
    border: 1px solid #ddd;
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
    line-height: 30px;
    margin-bottom: 15px;
    font-size: 18px;
    float: left;
}

.amsb-display-searchBar:focus {
}

.amsb-display-categorieSelect {
    font-size: 18px;
    width: 150px;
    border: 1px solid #ddd;
    color: #32373c;
    height: 42px;
    display: block;
    float: left;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border-radius: 0 !important;
    padding: 0 36px 0 8px;
    background: #fff;
    margin: 0 15px 15px 15px;
}

.amsb-display-label {
    position: relative;
    height: 40px;
    display: block;
    width: 150px;
    float: right;
}

.amsb-display-surclasseText:hover {
    background-color: #dddddd94;
}

.amsb-display-surclasseText {
    height: 42px;
    line-height: 42px;
    width: 150px;
    display: block;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.amsb-display-surclasse {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
}

.amsb-display-surclasse:checked + .amsb-display-surclasseText {
    background-color: #F12024;
    color: #fff;
}

.amsb-display-item {
    height: 40px;
    display: flex;
    width: 30%;
    align-items: center;
    margin: 0 auto 10px;
}

.amsb-display-item-role {
    margin-bottom: 30px;
}

.amsb-display-item label {
    width: 100%;
    cursor: pointer;
}

.amsb-display-item label input + span {
    background-color: #fff;
    color: #000;
    border-radius: 5px;

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, padding-left .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, padding-left .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out, color .25s ease-in-out, padding-left .25s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, padding-left .25s ease-in-out;
}

.amsb-display-item label input:checked + span {
    background-color: #F12024;
    color: #fff;
    padding-left: 50px;
    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, padding-left .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, padding-left .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out, color .25s ease-in-out, padding-left .25s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, padding-left .25s ease-in-out;
}

.amsb-display-item-text {
    line-height: 40px;
    padding-left: 20px;
    width: 100%;
    float: left;
    display: block;
    font-size: 18px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

.amsb-display-item-roleDirigeant-text {
    line-height: 40px;
    padding-left: 30px;
    text-transform: capitalize;
    width: 100%;
    float: left;
    display: block;
    font-size: 14px;
}

.amsb-display-item-radio {
    width: 40px;
    height: 40px;
    border-left: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amsb-display-item-radio-item {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.amsb-display-item-radio-item:checked::before {

    height: 40px;
    width: 40px;
    content: '';
    position: absolute;
    display: inline-block;
    font-size: 26px;
    text-align: center;
    line-height: 40px;

}

.user_value{
    float: left;
}

.user_list{
    width: 600px;
}

.user_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
}

.user_div ul {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.user_div input + ul {
    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out, color .25s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

.user_div input:checked + ul {
    background-color: #F12024;
    color: #fff;

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out, color .25s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

.user_div li, .user_div label li {
    line-height: 25px;
    font-size: 14px;
    padding-left: 5px;
}

.input-none-displayList {
    display: none;
}

.user_div_reference {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.user_div_reference li {
    font-size: 18px;
    line-height: 36px;
}

.user_div_reference li:nth-child(1),
.user_div li:nth-child(1) {
    width: calc((100% - 390px)/3);
}

.user_div_reference li:nth-child(2),
.user_div li:nth-child(2) {
    width: calc((100% - 390px)/3);
}

.user_div_reference li:nth-child(3),
.user_div li:nth-child(3) {
    width: calc((100% - 390px)/3);
}

.user_div_reference li:nth-child(4),
.user_div li:nth-child(4) {
    width: 110px;
}

.user_div_reference li:nth-child(5),
.user_div li:nth-child(5) {
    width: 110px;
}

.user_div_reference li:nth-child(6),
.user_div li:nth-child(6) {
    width: 80px;
}

.user_div_reference li:nth-child(7),
.user_div li:nth-child(7) {
    width: 90px;
}

.amsb-addParent {
    margin: 20px auto 0;
    width: 400px !important;
    float: none;
}

.amsb-addParentText {
    width: 100%;
    line-height: 40px !important;
    height: 40px;
    border-radius: 5px;
    font-size: 20px !important;
    color: #757575;
    margin: 0 !important;
}

#parent_form {
    margin-top: 15px;
}

.width-100-4 {
    width: calc(100% / 4);
}

#form_delete_button {
    margin-top: 15px;
    width: 400px;
}

#display_match_list .amsb-display-searchBar {
    width: 100%;
    float: none;
}

#display_match_list .user_div_reference li,
#display_match_list .user_div li {
    width: calc(100% / 4);
}

#create_match_form #team1 {
    width: 50%;
    float: left;
}

#create_match_form #team2 {
    width: 50%;
    float: right;
}

#create_match_form li {
    height: 40px;
    margin-bottom: 15px;
}

#match_selection .user_div_reference li,
#match_selection .user_div li {
    width: calc(100% / 3);
}

#match_selection .amsb-display-searchBar {
    width: calc(100% - 180px);
}

#arbiter_selection ul,
#otm_selection ul {
    height: calc(100vh - 250px);
    overflow: scroll;
}

#creation_success,
#creation_failed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageSelect {
    color: #F12023;
}

.icon-home {
    color: #000;
    position: absolute;
    left: 200px;
    top: 1px;
    font-size: 22px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 12px;
    background-color: #fff;
}

.icon-home:hover {
    color: #F12023;
}

#create_team_form .amsb-form {
    /* width: 50%; */
    /* float: left; */
}

#create_team_form .amsb-form-coach {

}

#create_team_form .amsb-form-joueur {

}


#role_selction {

}

#role_selction {

}

#role_selction {

}


#role_selction .amsb-display-item,
#role_update .amsb-display-item {
    width: 80%;
}

#role_update {

}

#role_update {

}

.amsb-display-item-roleDirigeant {
    width: 50%;
    float: left;
}

.amsb-display-item-roleDirigeant .amsb-display-item {
    width: 80% !important;
}

.div_tweet {
    height: calc(100vh - 150px);
    overflow-y: scroll;
    width: 400px;
    float: right;
}

#display_team_list .amsb-display-item {
    width: 60%;
}

.amsb-display-otherRole {
    width: 50%;
    float: right;
}

#sous_role {
    display: none;
}